* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#map {
    position: fixed;
    width: 55.8%;
    left: 44.2%;
    height: 680px;
    float: left;
}

@font-face {
    font-family: "IkarosR";
    src: url('Ikaros-Regular.otf');
}

#mainheader {
    height: 5%;

    background-color: #312F2F;
    color: white;
    padding: 20px 20px 0px 20px;
    font-family: "IkarosR";
    letter-spacing: 1px;
}

#sidebar {
    position: fixed;
    float: left;
    z-index: 2;
    width: 7%;
    height: 100%;
    background-color: white;
    /* overflow-x: hidden; */
}

#sidebar div {
    height: 15.83%;
    box-sizing: border-box;
    border-right: 1px solid #312F2F;

    /* box-shadow: -4px 1px 5px #312F2F;
    -webkit-box-shadow: 0 */
}

#sidebar p {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    text-decoration: none;
    font-size: 15px;
    color: #818181;
}

.slidecontainer {
    position: absolute;
    display: block;
    left: 20%;
    width: 70%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 25px;
    background: #312F2F;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s; 
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    border-radius: 100%;
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#pMenuContainer:hover {
    background-color: #84DCCF;
    border-right: none;
}

#pMenuContainer.active {
    background-color: #84DCCF;
    border-right: none;
}

#personalprofile {
    z-index: 1;
    position: fixed;
    left: 7%;
    background-color: #84DCCF;
    width: 37.2%;
    height: 95%;
    /* transition: all 100ms linear; */
}

#personalprofile.active {
    z-index: 2;
}


#housingContainer:hover {
    background-color: #98D9C2;
    border-right: none;

}

#housingContainer.active {
    background-color: #98D9C2;
    border-right: none;
}

#housingmenu {
    z-index: 1;
    position: fixed;
    left: 7%;
    background-color: #98D9C2;
    width: 37.2%;
    height: 95%;
    transition: all 30ms linear;
}

#housingmenu.active {
    z-index: 2;
}

#recreationContainer:hover {
    background-color: #ABEDC6;
    border-right: none;
}

#recreationContainer.active {
    background-color: #ABEDC6;
    border-right: none;
}

#recreationmenu {
    z-index: 1;
    position: fixed;
    left: 7%;
    background-color: #ABEDC6;
    width: 37.2%;
    height: 95%;
    transition: all 30ms linear;
}

#recreationmenu.active {
    z-index: 2
}

#commercialContainer:hover {
    background-color: #B9FFB7;
    border-right: none;
}

#commercialContainer.active {
    background-color: #B9FFB7;
    border-right: none;
}

#commercialmenu {
    z-index: 1;
    position: fixed;
    left: 7%;
    background-color: #B9FFB7;
    width: 37.2%;
    height: 95%;
    transition: all 30ms linear;
}

#commercialmenu.active {
    z-index: 2;
}

#foodContainer:hover {
    background-color: #D0FFB7;    
    border-right: none;

}

#foodContainer.active {
    background-color: #D0FFB7;
    border-right: none;

}

#foodmenu {
    z-index: 1;
    position: fixed;
    left: 7%;
    background-color: #D0FFB7;
    width: 37.2%;
    height: 95%;
    transition: all 30ms linear;
}

#foodmenu.active {
    z-index: 2;
}

#transportContainer:hover {
    background-color: #E4FFAA;
    border-right: none;

}

#transportContainer.active {
    background-color: #E4FFAA;
    border-right: none;

}

#transportmenu {
    z-index: 1;
    position: fixed;
    left: 7%;
    background-color: #E4FFAA;
    width: 37.2%;
    height: 95%;
    transition: all 30ms linear;
}

#transportmenu.active {
    z-index: 2;
}

/* BUTTONS BRO */
.buttons {
    display: block;
    position: absolute;
    left: 30px;
}

#recreationmenu p {
    display: block;
    position: absolute;
    left: 10px;
    padding-bottom: 20px;
}

/* The container */
.container {
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}
   
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #312F2F;
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the indicator (dot/circle) */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}